/*=============== FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --primary-shade: 201;
  --secondary-shade: 238;
  --saturation: 91%;
  --lighting: 55%;
  --first-color: hsl(var(--primary-shade), var(--saturation), var(--lighting));
  --first-color-alt: hsl(var(--primary-shade), var(--saturation), 50%);
  --title-color: hsl(var(--secondary-shade), 15%, 95%);
  --text-color: hsl(var(--secondary-shade), 8%, 75%);
  --text-color-light: hsl(var(--secondary-shade), 4%, 55%);
  --nav-text-color: black;
  --nav-text-color-light: white;
  --nav-dropdown-menu-color-light: hsl(0, 0%, 15%);
  --nav-dropdown-menu-color: hsl(0, 0%, 95%);
  --nav-dropdown-menu-color-hover: hsl(0, 0%, 70%);
  --nav-dropdown-menu-color-light-hover: hsl(0, 0%, 80%);
  --body-color: hsl(var(--secondary-shade), 40%, 7%);
  --body-color-alt: hsl(100, 60%, 12%);
  --container-color: hsl(var(--secondary-shade), 35%, 11%);


  /*========== Typography ==========*/
  --body-font: 'Montserrat', sans-serif;
  --text-size-biggest: 1.80rem;
  --text-size-h1: 1.5rem;
  --text-size-h2: 1.30rem;
  --text-size-h3: 1.05rem;
  --text-size-normal: .95rem;
  --text-size-small: .82rem;
  --text-size-smaller: .75rem;
  --text-size-smallest: .64rem;
  --text-normal-weight: 500;
  --text-bold-weight: 600;

  /*========== z index ==========*/
  --header-z-index: 100;

  /*========== Logo ==========*/
  --logo-white: url("https://raw.githubusercontent.com/alexfaisca/WebDev/main/assets/img/logo_white.png");
  --logo-black: url("https://raw.githubusercontent.com/alexfaisca/WebDev/main/assets/img/logo_black.png");

  /*========== Animation ==========*/
  --animation-time: .4s;

}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --text-size-biggest: 2.5rem;
    --text-size-h1: 2.25rem;
    --text-size-h2: 1.5rem;
    --text-size-h3: 1.25rem;
    --text-size-normal: 1rem;
    --text-size-small: .875rem;
    --text-size-smaller: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--text-size-normal);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: var(--animation-time); /* for light mode animation */
}

body.light-theme{
  --title-color: hsl(var(--secondary-shade), 15%, 15%);
  --text-color: hsl(var(--secondary-shade), 8%, 35%);
  --body-color: hsl(var(--secondary-shade), 100%, 99%);
  --container-color: #fff;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--text-bold-weight);
}

ul {
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/

.change-theme{
  font-size: 1.25rem;
  cursor: pointer;
  transition: var(--animation-time);
}

.change-theme:hover{
  color: var(--first-color);
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--text-size-h2);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--text-size-smaller);
  color: var(--text-color-light);
}

.hidden {
  display: none!important;
  visibility: hidden;
  opacity: 0;
}

.active-link{
  color: var(--first-color);
  border-radius: 6%;
  background: linear-gradient(180deg, hsla(var(--primary-shade), var(--saturation), var(--lighting), 0.4), hsla(var(--primary-shade), var(--saturation), var(--lighting), 0.15));
  box-shadow: 0 0 16px hsla(var(--primary-shade), var(--saturation), var(--lighting), .5);
}

/*=============== HEADER & NAV===============*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--header-z-index);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  flex: 0 1 auto;
  display: inline-block;
  position: absolute;
  left: 10%;
  top:0%;
}

.nav__menu {
  visibility: visible;
  flex: 1 1 auto;
  display: inline-block;
  position: absolute;
  right: 10%;
  top: 25px;
}

.nav__menu__item {
  margin-left: 20px;
  margin-right: 20px;
}

.nav__menu__item .icon {
  margin-left: 10px;
  margin-right: 10px;
}

.nav__menu__dropdown {
  visibility: hidden;
  display: inline-block;
  position: absolute;
  right: 5%;
  top: 10px;
  z-index: var(--header-z-index);
}

.nav__menu__dropdown__button {
  position: absolute;
  top: 10px;
  right:5%;
}

.nav__menu__dropdown__content {
  display: none;
  background-color: var(--nav-dropdown-menu-color);
  overflow: auto;
  z-index: var(--header-z-index);
  position: absolute;
  right: 5%;
  top: 50px;
}

.nav__menu__dropdown__content a {
  padding: 10px;
  color: var(--nav-text-color);
  display: block;
}

.nav__menu__dropdown__content a.light {
  background-color: var(--nav-dropdown-menu-color-light-hover);
  color: var(--first-color);
}

.nav__menu__dropdown__content a:hover {
  background-color: var(--nav-dropdown-menu-color-hover);
  transition: var(--animation-time);

}

.nav__menu__dropdown__content a.light:hover {
  background: var(--nav-dropdown-menu-color-light-hover);
  transition: var(--animation-time);

}

.nav__menu__dropdown .icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

 .show {
  display: block;
}

.nav__text{
  color: var(--nav-text-color);
  font-weight: var(--text-normal-weight);
  transition: var(--animation-time);
}

.nav__text:hover{
  color: var(--first-color);
}

.nav__text.light-theme{
  color: var(--nav-text-color-light);
}

.nav__text.light-theme:hover{
  color: var(--first-color);
}

.nav__img {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
}

.nav__img.light {
  opacity: 1;
  transform: translateY(0) rotateZ(0deg);
  transition: all var(--animation-time) ease-out;
  content: var(--logo-black);
}

.nav__img.light.light-theme{
  opacity: 0;
  transform: translateY(20%) rotateZ(100deg);
  content: var(--logo-white);
}

.nav__img.dark {
  margin-left: -20px;
  margin-top: 25px;
  opacity: 0;
  transform: translateY(20%) rotateZ(50deg);
  transition: all var(--animation-time) ease-out;
  content: var(--logo-white);
}

.nav__img.dark.light-theme{
  opacity: 1;
  transform: translateY(0%) rotateZ(0deg);
  content: var(--logo-white);
}

/*=============== HOME ===============*/

.home__container{
  position: relative;
  /* row-gap: 4.5rem; */
  padding-top: 2rem;
}

.home__data{
  text-align: center;
}

.home__greeting,
.home__education{
  font-size: var(--text-size-small);
  font-weight: var(--text-normal-weight);
}

.home__greeting{
  display: block;
  color: var(--title-color);
  margin-bottom: .25rem;
}

.home__education{
  color: var(--text-color);
  margin-bottom: 2.5rem;
}

.home__name{
  font-size: var(--text-size-biggest);
}

.home__social,
.home__scroll{
  position: fixed;
}

.home__social{
  left: 0;
  display: grid;
  row-gap: 0.5rem;
  align-content: center;
  height: 100%;
}

.home__social-link{
  width: max-content;
  background-color: var(--container-color);
  color: var(--first-color);
  padding: .25rem;
      border-radius: 0 0.25rem 0.25rem 0;
  display: flex;
  font-size: 1rem;
  transition: var(--animation-time);
}

.home__social-link:hover{
  background-color: var(--first-color);
  color: #fff;
}

.home__container .avatar__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__avatar {
  height: 30vmin;
  width: 30vmin;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  border: 3px solid var(--text-color) ;
}

/* .home__social::after{
  content: '';
  width: 32px;
  height: 2px;
  background-color: var(--first-color);
  transform: rotate(90deg) translate(16px, 3px);
} */

/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: .75rem 1rem;
  border-radius: .5rem;
  font-weight: var(--text-normal-weight);
  transition: var(--animation-time);
}

.button:hover{
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

.button--ghost{
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
  padding: .632rem 1rem;
}

/*=============== ABOUT ===============*/

.about__container{
  row-gap: 2.5rem;
  flex-wrap: wrap;
}

.about__data{
  text-align: center;
}
.about__data > img {
  width: 50vw;
}

.about__info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: .5rem;
  margin-bottom: 2rem;
}

.about__box{
  background-color: var(--container-color);
  border-radius: 0.9rem;
  padding: .75rem .5rem;
}

.about__icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: .5rem;
}

.about__title{
  font-size: var(--text-size-small);
}

.about__subtitle{
  font-size: var(--text-size-smallest);
}

.about__description{
  margin-bottom: 2rem;
  text-align: left;
}

.about__image{
  border-radius: 5%;
}

/*=============== SKILLS ===============*/

.skills__container{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  row-gap: .75rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.skills__content{
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
}

.skills__title{
  font-size: var(--text-size-normal);
  font-weight: var(--text-bold-weight);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box{
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skils__group{
  display: grid;
  row-gap: 1rem;
}

.skills__data{
  display: flex;
  column-gap: .5rem;
}

.skills .bx-badge-check{
  font-size: 1rem;
  color: var(--first-color);
}

.skills__name{
  font-size: var(--text-size-normal);
  font-weight: var(--text-normal-weight);
  line-height: 18px;
}

.skills__level{
  font-size: var(--text-size-smallest);
}

.column {
  float: left;
  width: 33.33%;
}



/*=============== SERVICES ===============*/


/* Services modal */


/*Active modal*/


/*=============== WORK ===============*/
.work__container{
  padding-top: 1rem;
}

.work__filters{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.work__item{
  cursor: pointer;
  color: var(--title-color);
  padding: .25rem .75rem;
  font-weight: var(--text-normal-weight);
  border-radius: .5rem;
}

.work__card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
}

.work__img{
  border-radius: 1rem;
  margin-bottom: .75rem;
  max-height: 275.5px;
  object-fit: cover;
  width: 100%;
}

.work__title{
  font-size: var(--text-size-normal);
  font-weight: var(--text-normal-weight);
  margin-bottom: .25rem;
}

.work__button{
  width: max-content;
  color: var(--first-color);
  font-size: var(--text-size-small);
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.work__button:hover .work__icon{
  transform: translateX(.25rem);
}

.work__icon{
  font-size: 1rem;
  transition: var(--animation-time);
}

/* Active item work*/
.active-work{
  background-color: var(--first-color);
  color: var(--body-color);
}

.popout__container{
  width: 100vw;
  height: 100vh;
  background-color: #343439a6;
  position: fixed;
  z-index: 11;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s, opacity 0.5s linear;
}

.popout__item{
  position: absolute;
  width: 95vw;
  height: 75vh;
  background: white;
  margin: auto;
  background-color: var(--container-color);
  border-radius: 2.7rem;
  display: flex;
  transition: 0.6s ease;
  flex-direction: column;
  
}
.popout__header{
  display: flex;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 17%;
}

.popout__header  i{
  margin: 0 40px;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  font-weight: var(--text-normal-weight);
  border-radius: 0.5rem;
  background-color: var(--first-color);
  color: var(--body-color);
  right: 0%;
}

.popout__title{
  margin: 0 40px;
  
  font-size: var(--body-font);
}
.popout__carrousel{
  height: 35%;
  width: 100%;
  background-color: #282e39;
  position: relative;
}

.popout__carrousel img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.popout__main{
  width: 100%;
  display: flex;
  padding: 20px;
  height: 43%;
  column-gap: 1rem;
}
.popout__text{
  text-align: justify;
  width: 66%;
}
.popout__links{
  width: 33%;
}

.c{
}

.cpp{
}

.java{
}

.python{
}

/*=============== TESTIMONIAL ===============*/


/* Swiper class */


/*=============== CONTACT ===============*/
.contact__container{
  column-gap: 3rem;
  padding-bottom: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.contact__cont

.contact__title{
  text-align: center;
  font-size: var(--text-size-h3);
  margin-bottom: 1.5rem;
}

.contact__info{
  display: grid;
  gap: 1rem;
}

.contact__card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
}

.contact__card-icon{
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .25rem;
}

.contact__card-title,
.contact__card-data{
  font-size: var(--text-size-small);
}

.contact__card-title{
  font-weight: var(--text-normal-weight);
}

.contact__card-data{
  display: block;
  margin-bottom: .75rem;
}

.contact__button{
  color: var(--first-color);
  font-size: var(--text-size-small);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
}

.contact__button:hover .contact__button-icon{
  transform: translateX(.25rem);
}

.contact__button-icon{
  font-size: 1rem;
  transition: var(--animation-time);
}

.contact__form-div{
position: relative;
margin-bottom: 2rem;
height: 4rem;
}

.contact__form-input{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border: 2px solid var(--text-color-light);
 background: none;
 color: var(--text-color);
 outline: none;
 padding: 1.5rem;
 border-radius: .75rem;
 z-index: 1;
}

.contact__form-tag{
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  font-size: var(--text-size-smaller);
  padding: .25rem;
  background-color: var(--body-color);
  z-index: 10;
}

.contact__form-area{
  height: 11rem;
}

.contact__form-area textarea{
  resize: none;
}

/*=============== FOOTER ===============*/
.footer{
  background-color: var(--first-color);
}

.footer__container{
  padding: 2rem 0 6rem;
}

.footer__title,
.footer__link{
  color: var(--body-color);
}

.footer__title{
  text-align: center;
  margin-bottom: 2rem;
}

.footer__list{
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-link{
  background-color: var(--body-color);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  font-size: 1rem;
  display: inline-flex;
}

.footer__copy{
  display: block;
  margin-top: 4.5rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--text-size-smaller);
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--secondary-shade), 8%, 38%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(var(--secondary-shade), 8%, 26%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--secondary-shade), 8%, 20%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){

  .nav__menu {
    visibility: hidden;
  }

  .nav__menu__dropdown {
    visibility: visible;
  }

  .home__buttons{
    flex-direction: column;
  }
  .home__handle{
    width: 130px;
    height: 253px;
  }

  .about__info{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    row-gap: .75rem;
    flex-wrap: wrap;
  }

  .about__data > img {
    width: 80vw;
  }

  .skills__box{
    column-gap: 1rem;
  }

  .skills__name{
    font-size: var(--text-size-small);
  }

  .work__item{
    font-size: var(--text-size-small);
  }

  .work__filters{
    column-gap: .25rem;
  }
  
  
}
@media screen and (max-width:576px){

  .nav__logo {
    left: 5%;
  }

  .nav__menu{
    right: 5%;
  }

  .nav__menu__item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav__menu__item .icon{
    margin-left: 5px;
    margin-right: 5px;
  }

  .popout__main{
    flex-direction: column;
    overflow-y: auto;
  }

  .popout__text{
    width: 100%;
    padding-bottom: 3%;
  }
  .popout__links{
    width: 100%;
  }

  .contact__container{
    row-gap: 3rem;
    padding-bottom: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

/* For medium devices */
@media screen and (min-width: 576px){

  
  .about__info{
    grid-template-columns: repeat(3, 140px);
  }

  .about__description{
    padding: 0 5rem;
  }
  .about__data > img {
    width: 45vw;
  }

  .skills__content{
    padding: 2rem 4rem;
  }

  .work__container{
    justify-content: center;
  }

  .contact__info{
    grid-template-columns: 300px;
    justify-content: center;
  }

  .contact__form{
    width: 360px;
    margin: 0 auto;
  }
  
}

@media screen and (min-width: 650px){
  .popout__item{
    width: 75vh;
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding: 6.5rem 0 1rem;
  }

  .section__title{
    margin-bottom: 3.5rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }

  .home__handle{
    width: 290px;
    height: 400px;
  }

  .home__img{
    width: 220px;
  }

  .home__social-link{
    padding: .4rem;
    font-size: 1.25rem;
  }

  .home__social::after{
    transform: rotate(90deg) translate(16px, 0);
  }

  .home__scroll-icon{
    font-size: 2rem;
  }

  .about__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: initial;
    column-gap: 4rem;
  }

  .about_data{
    text-align: center;
  }

  .about__info{
    justify-content: center;
  }

  .about__box{
    text-align: center;
    padding: 1rem 1.25rem;
  }

  .about__description{
    padding: 0 4rem;
    margin-bottom: 2.5rem;
  }

  .skills__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: .75rem;
    margin-bottom: 2rem;
  }

  .work__container{
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .work__card{
    padding: 1.25rem;
  }

  .work__img{
    margin-bottom: 1rem;
  }

  .work__title{
    margin-bottom: .5rem;
  }

  .contact__container{
    column-gap: 2rem;
  }

  .footer__social-link{
    font-size: 1.25rem;
    padding: .4rem;
    border-radius: .5rem;
  }

}